html {
    scroll-behavior: smooth !important;
}

.mouse-cursor {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    /* Ensures cursor doesn’t block clicks */
    border-radius: 50%;
    transform: translateZ(0);
    /* Prevents rendering issues */
    visibility: hidden;
    /* Hidden initially */
    z-index: 1000;
}

.cursor-inner {
    margin-left: -3px;
    margin-top: -3px;
    width: 6px;
    height: 6px;
    background-color: var(--extra-color);
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out,
        margin 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.cursor-inner.cursor-hover {
    margin-left: -40px;
    margin-top: -40px;
    width: 80px;
    height: 80px;
    opacity: 0.3;
}

.cursor-outer {
    margin-left: -15px;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    border: 2px solid var(--extra-color);
    box-sizing: border-box;
    opacity: 0.5;
    transition: all 0.08s ease-out;
}

.cursor-outer.cursor-hover {
    opacity: 0;
}

:root {
    --extra-color: #FF014F;
    /* Adjust to your desired color */
}



@media (prefers-reduced-motion: reduce) {
    .mouse-cursor {
        transition: none;
    }
}


.logo h1 {
    font-size: 18px;
    font-weight: 700;
    color: #FF014F;
}

.nav-item .nav-link {
    color: #aaa !important;
}

.nav-item .nav-link:hover {
    color: #FF014F !important;
}

.current .nav-link {
    color: #FF014F !important;
}

.popup-mobile-menu .inner {
    overflow: hidden !important;
}

.menu-top {
    position: relative;
    text-align: center;
}

.menu-header {
    justify-content: center !important;
}

.menu-top h4 {
    font-size: 22px;
    font-weight: 600;
    color: #222;
    margin-bottom: 0px;
}

.menu-top p {
    margin-top: 0px !important;
}

.menu-header .logo img {
    width: 120px !important;
    height: 120px !important;
    border-radius: 50%;
    border: 5px solid #FF014F;
    margin-bottom: 10px;
}

.social-share-style-1 {
    margin-top: 20px !important;
}

.close-button {
    position: absolute;
    top: 5px !important;
    right: 0px;
}

.popup-mobile-menu {
    overflow-x: hidden !important;
    height: 100vh;
}

.heading {
    margin: 0px !important;
    padding: 0px !important;
    border: none !important;
}

.my_skill {
    width: 100%;
    margin-bottom: 15px;
}

@media(max-width:556px) {
    .my_skill {
        margin: 0px;
        text-align: center;
    }

    .content {
        margin-bottom: 30px;
    }
}

.my_skill .subtitle {
    color: #FF014F;
}

.my_skill .maintitle {
    color: #000;
}

.title span {
    margin-bottom: 10px;
}

.title h4 a {
    color: blue;
}

.rn-btn span {
    font-weight: 600 !important;
}

.rn-testimonial-area {
    overflow-x: hidden !important;
}


@media (max-width: 556px) {
    header {
        overflow: hidden !important;
    }
}

.logo h1{
    font-size: 25px;
    font-weight: 700;
    color: #FF014F;
    margin: 0px;
}
